@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Oh the rizzery</h1>
    <p>Everybody wants to be my skibidi</p>
    <p>spare the sigma rizz</p>
    <p>everybody wants to be</p>
    <p>my skibidi</p>
</div>
